*{
  box-sizing: border-box;
color: white;}

.section-2 h1{
  color: black;
  font-size: 35px;
  font-weight: 300;
  margin-left: 70px;

}

.section-2-item p{
  color:black;
}

.section-2 h1 span{
  color: black;
  font-size: 35px;
  font-weight: 420;
}

header h1{
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 25px;
}

body{
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins',sans-serif,Georgia;
}

header{
  width: 100%;
  height: 70%;
  margin-bottom: 2rem;
  object-fit: cover;
  position: relative;

}

.header-image{
  width: 100%;
  position: absolute;
  z-index: -1;
  top: -30vh;
  
  
}


.header-image img{
  width: 100%;
}


.head{
  position:absolute;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:8px 90px;
  
}

.nav ul{
  display: flex;
  gap:2rem;
  list-style: none;
  font-weight: 300;
  font-size: large;
}

.head{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3vh;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.head-logo img{
  max-width: 31%;
  height: auto;
 
}

.head-logo {
  text-align: center;
  margin-top: 10px;
}


.getapp{
  display: flex;
  font-size: 90%;
}

.getapp svg{
  margin-top: 20px;
  margin-right: 5px;
}

.search{
    display: flex;
    width: 58vw;
    padding: 5px;
    
    align-items: center;
    border-radius: 7px;
    background: white;

}

.searchgps{
  display: flex;
  align-items: center;
}

.searchgps p{
  color: rgb(158, 155, 155);
  font-size: 13px;
}
.loc i{
  color: rgb(246, 93, 93);
  padding:0px 10px;
  font-size:20px;
  margin-left: 5px;
}

.caret i{
  color: black;
  border-right: 1px solid gray;
  padding: 8px;

}

.search-res i{
  color: grey;
  padding: 10px;
  margin-left: 5px;

}
 input{
  outline: none;
  border: none;
  width: 300px;
  font-size: 15px;
}

.search-res{
  display: flex;
}

.section-1{
  margin-top: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.section-1 span{
  color: black;
  letter-spacing: 0.5px;
  margin-left: 10px;
}

.section-1-item {
  position: relative;
  width: 23rem;
  height: 15rem;
  margin: 10px 10px;
  overflow: hidden;
  border-radius: 10px;
  background: white;
  border: 1px solid rgb(228, 228, 228);

}

.section-1-item img{

  width: 100%;
  border: 1px solid rgb(228, 228, 228);
  z-index: -1;
  border-radius: 15px;
  

}

.section-1 .section-1-item .items-details {
  position: absolute;
  bottom: -5px;
  border-radius: 0 0 15px 15px;
  background-color: white;
  width: 100%;
  height: 35%;
  z-index: 2;
  padding: 13px;
}

.section-1-item .items-details span:first-child{
  font-weight:405;
  font-size:19px;
  
}

.item-head{
  font-size: 20px;
  font-weight:400;
  margin-bottom: 0;
  margin-top: 11px;
  margin-left: 13px;
}

.item-subhead{
  font-size: 16px;
  font-weight: 300;
  margin-top: 1px;
  margin-left: 13px;

}

.section-2-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  
}

.section-2-item{
  width: 350px;
  height: 80px;
  border-radius: 7px;
  box-shadow: 0 2px 4px rgb(215, 211, 211);

}

.see-more{
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.section-3 {
  height: 620px;
  background-color: rgb(255, 251, 247);
}
.section-3-container{
  width: 1080px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-3-img {
  width: 30%;
}
.section-3-img img {
  width: 300px;
}
.section-3-content h1,p {
  color: black;
}
.section-3-content h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0;
  margin: 0;
  margin-bottom: 15px;
}
.section-3-content p{
  font-size: 1.2rem;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 15px;
}
.section-3-download img{
  width: 25%;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:azure;
}

footer i{
  color: black;
  margin-left: 3px;
  margin-bottom: 5px;
}

.getapp p{
  color: white;
}